# Editor files
#/.vscode/
/*.sublime-project
/*.sublime-workspace
/*.clang_complete
/*.vim
#/.idea/

# Visual Studio files
/.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln

# Project files
/Build/
